<html>

<head>
    <title>Wherefore art thou Clonegar</title>
    <link rel="stylesheet" href="stylesheets/clonegar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/clonegar.js"></script>
</head>

<body ng-app="clonegarApp">
    <!--<canvas id="canvas"></canvas>-->
    <div id="overlay" ng-controller="clonegarCtrl">
        <div id="left">
            <div id="chat" style="overflow-y : auto">
                <ol id="messages">
                    <li ng-repeat="msg in msgs track by $index">
                        {{msg}}
                    </li>
                </ol>
            </div>
            <input type="text" id="chatField" placeholder="Enter message" ng-model="message"/>
            <div id="username">
                <p id="changeName">Change User Name</p>
                <input type="text" id="nameField" placeholder="Player 1" ng-model="username"/>
                <button class="button" type="submit" id="readyBtn" value="Ready!"><span>Ready </span></button>
            </div>
        </div>
        <div id="right">
            <div id="players">
                <player class="player" ng-repeat="player in players | orderBy:'joinNum'" player='player' />
            </div>
            <div>
                <button class="button" style="vertical-align:middle" id="send" ng-click="sendMsg()">Send</button>
                <button class="button" style="vertical-align:middle" id="startGame"><span>Start Game</span></button>
            </div>
        </div>
    </div>
</body>

</html>
